# 忽略编译产物和可执行文件
/bin/
*.exe
*.dll
*.out

# 忽略依赖目录
/vendor/
/go.sum
/go.mod

# 忽略编辑器相关的文件
.idea/
.vscode/

# 忽略系统和临时文件
Thumbs.db
.DS_Store

# 忽略日志文件
*.log

# 忽略生成的文档
/doc/

# 忽略测试产生的文件
/test.out

# 忽略缓存文件
*.cache
